# Python / Virtualenv
__pycache__/
*.py[cod]
*$py.class
*.env
.venv
env/
venv/
ENV/

# Database files
*.db
*.sqlite
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Android Studio / Gradle
.gradle/
build/
app/build/
*.apk
*.aab
local.properties
.cxx/
